.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}
.modal {
    width: calc(92% - 32px); /* 90% - horizontal-padding*/
    min-height: 100px;
    background: white;
    border-radius: 10px;
    margin: 180px 16px;
    position: relative;
    padding: 30px 20px;
}
.close-icon {
    background-color: rgb(68,72,89);
    align-items: center;
    color: #fff;
    right: 15px;
    position: absolute;
    top: 25px;
    padding: 5px 10px;
    border-radius: 5px;
}
.popup-btn {
    width: 200px;
    height: 40px;
    padding: 5px;
}
.cancel {
    background-color: rgb(68,72,89);
}
.activate {
    background-color: #41BEA7;
}
.modal-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.modal-footer button {
    color: white;
    border-radius: 50px;
    height: 40px;
    width: 120px;
    border: none;
}
.modal-title {
    color: rgb(68,72,89);
    font-weight: 600;
    font-size: 18px;
}
.modal-body {
    min-height: 100px;
}
.disp-flex {
    display: flex;
}
.row {
    flex-direction: row;
}
.column {
    flex-direction: column;
}
.just-s-btwn {
    justify-content: space-between;
}
.form-div {
    position: relative;
    padding: 10px 0px;
    margin: 10px 0;
}
.input-field {
    /* width: 150px; */
    width: calc(92% - 32px);
    padding: 5px;
    color: rgb(78, 81, 97);
    border: 1px solid transparent;
    border-bottom: 1px solid #E2E3E5;
    height: 24px;
}
.label {
    position: absolute;
    top: 20px;
    /* color: #E2E3E5; */
    color: #adaeaf;
    left: 5px;
    font-size: 16px;
    display: none;
}
.has-value .label {
    top: 2px;
    font-size: 13px;
    display: block;
}
.phone {
    padding-left: 36px;
}
.prefix {
    position: absolute;
    margin: 10px 5px;
    color: rgb(78, 81, 97);
    /* color: #878992; */
}
.done {
    position: absolute;
    right: 10px;
    top: 15px;
}
.done img {
    height: 20px;
    width: auto;
}
.form-div input:-internal-autofill-selected {
    background-color: white !important;
    color: #878992 !important;
}