.profile {
    background-color: #FBFBFB;
    margin: -30px 10px  10px 10px;
    padding: 10px;
    border-radius: 10px;
    height: 64px;
    width: 75%;
    align-items: center;

}
.disp-flex {
    display: flex;
}
.row {
    flex-direction: row;
}
.column {
    flex-direction: column;
}
.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
.header-icon {
    background-color: #F5F7FC;
    height: 50px;
    width: 50px;
    border: 5px solid white;
    border-radius: 100%;
}
.sub-title {
    color: #bababd;
}
.profile-body {
    margin: 0 10px;
}
.sub-title-icon {
    width: 12px;
    height: auto;
}
